$font-stack: 'Montserrat', sans-serif;
$primary-color: #000000;
* {
    box-sizing: border-box;
}
body {
  font: 100% $font-stack;
  color: $primary-color;
  background: coral;
}
p {
    font-size: 16px;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: $primary-color;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.header {
    background: #fff;
    padding: 18px 0;
}
.header-flex {
    display: flex;
    justify-content: space-between;
}
.header__items {
    display: flex;
    align-items: center;
}
.header__authorization {
    display: flex;
    align-items: center;
}
.header-link__text {
    align-items: center;
}
