$font-stack: 'Montserrat', sans-serif;
$primary-color: #000000;
$bg-color: #E5E5E5;
* {
    box-sizing: border-box;
}
body {
  font: 100% $font-stack;
  color: $primary-color;
  background: $bg-color;
  opacity: 1;
}
p {
    font-size: 16px;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: $primary-color;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.header {
    padding: 18px 0;
    background: #ffffff;
}
.logo {
    margin-right: 87px;
}
.header-flex {
    display: flex;
}
.header__items {
    display: flex;
    align-items: center;
}
.header__link {
    display: flex;
}
.header-link__icon, .header-city__icon, .header-signin__icon {
    margin-right: 10px;
}
.header__authorization {
    display: flex;
    align-items: center;
}
.header-link__text:nth-child(4) {
    margin-right: 67px;
}
.header-city__arrow {
    position: absolute;
    padding-left: 175px;
}
.header-city__link {
    margin-right: 40px;
}
.header__number {
    margin-left: 15px;
}
.header-link__text, .header-city__link, .header__number, .header-signin__link  {
    margin-right: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.page {
    width: 100%;
    height: 478px;
    display: flex;
    background-image: url(../img/bg.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.page__left {
    width: 55%;
    height: 100%;
    background: #00093C;
}
.page__title {
    margin-left: 370px;
    margin-top: 100px;
    h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
    }
    h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
    }
    h4 {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }
}
.page__bg {
    position: absolute;
    margin-left: 8%;
    top: 14.6%;
    
}
.page__stripe {
    position: absolute;
    left: 43.2%;
    top: 32%;
}
.page__right {
    width: 45%;
    height: 100%;
}
.page__vectorx {
    position: absolute;
    margin-left: 22%;
    margin-top: 6%;
}
.page__uneven {
    position: absolute;
    margin-left: 27%;
    margin-top: 13%;
}

.courses {
    margin: 106px 0 217px 318px;
}
.courses__childs {
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
}
.courses__child {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
    a {
        display: inline-block;
    }
}
.courses-child__text {
    margin-left: 15px;
    h3 {
        margin: 0 0 2px 0;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }
    p {
        margin: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
    }
}
.courses__years {
    border-bottom: 1px solid grey;
    position: absolute;
    left: 36%;
    width: 50%;
}